<div class="p-grid p-justify-center">
<div class="p-col-10 p-sm-6 p-md-4">
<p-card>
  <div class="p-grid">
    <div class="titulo-car">
      <i class="fas fa-car fa-4x" id="icon-car"></i>
      <h2>Car Sales</h2>
    </div>
    <div class="p-col-12">
    <label for="">Usuário:</label>
    <input type="text" pInputText class="p-col-12"/>
    </div>
    <div class="p-col-12">
      <label for="">Senha:</label>
      <input type="password" pInputText class="p-col-12"/>
    </div>
    <div class="p-col-12">
      <button pButton type="button" label="Entrar" class="p-col-12"></button>
    </div>
  </div>
</p-card>
</div>
</div>
